/ykbredis/.vs
/ykbredis/data/ykbredis.data/bin
/ykbredis/data/ykbredis.data/obj
/ykbredis/core/ykbredis.core/bin
/ykbredis/core/ykbredis.core/obj
/ykbredis/app/ykbredis.app/bin
/ykbredis/app/ykbredis.app/obj
/ykbredis/app/ykbredis.app1/bin
/ykbredis/app/ykbredis.app1/obj

